.ds-btn-pr{
    background-color: blueviolet;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
    font-family: 'nunito',sans-serif;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    
}

.ds-btn-pr:hover{
        background-color: red;
        color: white;
        transform: scale(1.1);
}


