.test{
    background: #3a45fc;
    height: 100px;
    width: 300px;
    border-radius: 10px 0px 10px 0px;
}

.black{
    background-color:#33cc99;
    height: 100px;
    width: 300px;
    border-radius: 0px 10px 0px 10px;
}

.cream{
    background: #ffa228;
    height: 100px;
    width: 300px;
    border-radius: 10px 0px 10px 0px;
}
