.ds-nav{
    width: 500px;
    background-color: rgb(28, 28, 68);
    & li{
        color: whitesmoke;
        & a{
            color: whitesmoke;
            &:hover{
                color: orangered;
            }
        }
    }
}

.ds-nav-ham{
    background-color: rgb(28, 28, 68);
    margin-top: 10px;
    width: 500px;
}

.ds-nav-list li{
    display: inline-block;
    margin: 10px;
}