.ds-nav{
    width: 500px;
    background-color: rgba(0, 4, 255, 0.29);
    & li{
        color: whitesmoke;
        & a{
            color: whitesmoke;
        }
    }
}

.ds-nav-ham{
    background-color: rgba(0, 4, 255, 0.29);
    margin-top: 10px;
    width: 500px;
}

.ds-nav-list li{
    display: inline-block;
    margin: 10px;
}