.ds-nav{
    width:400px;
    background-color:rgb(28, 28, 68);
    & li{
        display:inline-block;
        margin:10px;
        color:whitesmoke;
        & a{
            color:whitesmoke;
            &:hover{
                color:#ffa228;
            }
        }
    }
}

.ds-nav-ham{
    background-color: rgb(28, 28, 68);
    margin-top: 10px;
    width: 400px;
}
