.ds-background-texture{
    height: 300px;
    max-width: 300px;
    margin:0 auto;
    border-radius: 7px;

    box-shadow: 0 7px 15px rgba(0,0,0, 0.6);
    border-bottom: solid 3px rgba(255, 255, 255, 0.6) ;
    margin-top:5em;

    
background: 
url('/media/textures/background-texture.svg'),  center top repeat;

}