.ds-primary-title{
    font-family: 'bariol-regular', sans-serif;
    font-size: 2.5em;
}

.ds-secondary-title{
    margin: 10px 0;
    font-size: 2em;
}

.ds-terciary-title{
    margin: 10px 0;
    font-size: 1.5em;
}

.ds-paragraph-text{
    margin: 10px 0;
    font-family: 'nunito',sans-serif;
}